################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FoodStore/FileContentIndex
/FoodStoreAPI/obj
/FoodStoreClient/obj
/.vs
